@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: linear-gradient(to top right, rgb(175, 170, 164), rgb(237, 131, 56)); */

  background-color: rgb(14, 64, 64);
  /* background-image: radial-gradient(circle farthest-corner at 80.3% 79.5%, rgba(59, 240, 110, 0.521) 0%, rgb(60, 62, 48) 90%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
